*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 21px 0 7px ;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
}

.logo{
  margin: 11px 28px;
}

.header-ul{
  display: flex;
  list-style: none;
}

.header-ul li{
  font-size: 14px;
  margin: 0 15px;
}

.header-ul li a{
  cursor: pointer;
  text-decoration: none;
  color: #303030;
}
.header-ul li a:hover{
  color: #f68b1f;
}

.header-ul > li:last-child a {
  color: #28457b; 
  padding-right: 29px;
  margin-right: 20px;
  font-family: YekanBakhBold;
}

.more-menu {
  display: flex;
}

.more-menu img {
  width: 8px;
  margin-right: 8px;
}

.header-ul > li:last-child a img {
  width: 16px;
  height: 11px;
  margin: 0 2px;
}

.lang {
  width: 16px;
  height: 11px;
  background: url(../images/flags.png) no-repeat;
}
.lang.lang-ir {
  background-position: -176px -66px;
}
.lang.lang-us {
  background-position: -160px -154px;
}

.hamburger-icon{
  width: 27px;
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  font-family: YekanBakhMedium;
  transform: translateY(-100%);
}

.cross-icon {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

.cross-icon img {
  width: 20px;
  margin-left: 30px;
}

.hamburger-menu-items {
  padding: 10px 30px;
}

.hamburger-menu-items ul {
  list-style: none;
}

.hamburger-menu-items a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 3px 0;
}

.hamburger-menu-items div {
  height: 1px;
  background-color: #dfe1e4;
  width: 90%;
  margin: 8px;
}
.more-item {
  display: flex;
  background-color: #eee;
  padding: 20px 50px;
  align-items: center;
}

.more-item img {
  width: 15px;
  margin-right: 5px;
}

.more-item a {
  text-decoration: none;
  color: #28457b;
  font-size: 0.85rem;
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

.show-more-menu {
  position: relative;
}

.show-more-menu ul {
  position: absolute;
  top: 0;
  left: -45px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 23px;
  list-style: none;
  width: 200px;  
  display: none;
}

.show-more-menu li {
  margin: 0;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: black;
}

.show-more-menu li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}

.banner {
  width: 1170px;
  height: 700px;
  padding: 2px;  
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

}

.swiper {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  border-radius: 20px;
  display: flex;
  width: 100%;
}





@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  header{
      width: 940px;
  }
  .banner {
    width: 900px;
    height: 500px;
  }
}

@media (max-width: 990px) {
  header{
      width: auto;
      padding: 20px 60px;
  }

  .header-ul li:last-child{
      display: none;        
  }

  .logo {
      margin: 0;
  }
  
  .header-ul li {
      margin: 0 10px;
  }
  .banner {
    width: auto ;
    margin-left: 15px;
        margin-right: 15px;
  }

}

@media (max-width: 768px) {
  .header-ul {
    display: none;
  }
  header {
      width: auto;
      padding: 10px 8px;
  }  
  .hamburger-icon{
      display: block;
  }  
  .banner {
    margin-left: 4px;
    margin-right: 4px;
}
}
  